<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品种类</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="libs/css/style.css">
</head>
<body class="layui-layout-body layui-list">

<div id="password" class="pd-20 hide layui-form">
    <form class="form form-horizontal" onsubmit="return false;" novalidate="novalidate">
        <div class="layui-row clearfix">
            <label class="form-label layui-col-xs4 layui-col-sm3">品牌：</label>
            <div class="formControls layui-col-xs8">
                <select name="sid" deleteCommodity id="sid" lay-filter="search_typestair">
                    <option value="">请选择品牌</option>
                </select>
            </div>
        </div>
        <div class="layui-row clearfix">
            <label class="form-label layui-col-xs4 layui-col-sm3">种类：</label>
            <div class="formControls layui-col-xs8">
                <select name="tid" lay-filter="search_type" class="secondsel">
                    <option value="">请选择种类</option>
                </select>
            </div>
        </div>

        <div class="layui-row clearfix">
            <input type="text" hidden="hidden" name="cid" id="cid">
            <label class="form-label layui-col-xs4 layui-col-sm3">商品名称：</label>
            <div class="formControls layui-col-xs8">
                <input type="text" class="input-text" autocomplete="off" placeholder="商品名称" name="title" id="title"
                       lay-verify="required" aria-required="true">
            </div>
        </div>

        <div class="layui-row clearfix">
            <label class="form-label layui-col-xs4 layui-col-sm3">商品简介：</label>
            <div class="formControls layui-col-xs8">
                <input type="text" class="input-text" autocomplete="off" placeholder="商品简介" name="intro" id="intro">
            </div>
        </div>

        <div class="layui-upload col-sm-9">
            <button type="button" class="layui-btn" id="test2">选择图片</button>
            <!--<button class="layui-btn" id="btn">上传</button>-->
            <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                预览图：
                <div class="layui-upload-list" id="ImgPreview"></div>
            </blockquote>
        </div>

        <div class="layui-row clearfix">
            <div class="layui-col-xs8 layui-col-sm9 layui-col-xs-offset4 layui-col-sm-offset3">
                <input class="layui-btn layui-btn-red layui-btn-sm" lay-submit lay-filter="updatepwd" type="submit"
                       value="提交" id="updatepwd">
            </div>
        </div>
    </form>
</div>

<div style="padding-top: 10px">
    <form class="layui-form left" onsubmit="return false;">
        <div class="layui-inline user-title2">
            <label class="layui-form-label">品牌</label>
            <div class="layui-input-block">
                <select name="sid" id="role" lay-filter="search_typestair">
                    <option value="">请选择品牌</option>
                </select>
            </div>
        </div>

        <div class="layui-inline user-title2">
            <label class="layui-form-label">种类</label>
            <div class="layui-input-block">
                <select name="tid" lay-filter="search_type" class="secondsel">
                    <option value="">请选择种类</option>
                </select>
            </div>
        </div>

        <div class="layui-inline">
            <div class="layui-inline user-title1">
                <label class="layui-form-label">商品</label>
                <div class="layui-input-block">
                    <input type="text" name="title" placeholder="请输入商品名称" autocomplete="off" id="userValue"
                           class="layui-input">
                </div>
            </div>

            <div class="layui-inline">
                <button type="button" lay-filter="search" lay-submit="" class="layui-btn layui-btn-sm"><i
                        class="layui-icon layui-icon-search" formnovalidate></i>搜索
                </button>
            </div>

            <div class="layui-inline">
                <button type="button" class="layui-btn layui-btn-sm" id="addkind">
                    <i class="layui-icon layui-icon-addition" formnovalidate></i>新增商品
                </button>
            </div>
        </div>
    </form>
</div>
<div>
    <table class="layui-table lay-even=" lay-filter="commodityTable" id="commodityTable"></table>
</div>
<script src="layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(["table", "form", "element", "jquery", "upload"], function () {
        // 加载表格
        var table = layui.table
            , form = layui.form
            , element = layui.element
            , $ = layui.jquery
            , upload = layui.upload;
        form.render();

        //多图片上传
        /*  upload.render({
              elem: '#test2'
              ,url: 'picture' //改成您自己的上传接口
              ,multiple: true
              ,before: function(obj){
                  //预读本地文件示例，不支持ie8
                /!*  obj.preview(function(index, file, result){
                      $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                  });*!/
              }
              ,done: function(res){
                  //上传完毕
              }
          });*/
        var fid=0;

        upload.render({
            elem: '#test2'
            , url: 'picture'
            , multiple: true,
            accept: "image",
            auto: true,
            number: 0,
            acceptMime: 'image/*',
            bindAction: "#updatepwd",
            choose: function (obj) {
                //预读本地文件示例，不支持ie8
                var files = obj.pushFile();
                obj.preview(function (index, file, result) {
                    $('#ImgPreview').append('<div class="image-container" id="container' + index + '"><div class="delete-css"><button id="upload_img_' + index + '" class="layui-btn layui-btn-danger layui-btn-xs">删除</button></div>\n' +
                        '<img id="showImg' + index + '" style="width: 150px; margin:10px;cursor:pointer;" src="' + result + '" alt="' + file.name + '" ></div>')
                    $("#upload_img_" + index).bind('click', function () {
                        delete files[index];
                        // delete files[$(this).prev().attr("index")];//从图片数组中删除元素。根据下标删除
                        $("#container" + index).remove();
                    });
                });
            }, allDone: function (obj) { //当文件全部被提交后，才触发
                 //alert('已成功上传'+obj.total+'张图片');
                $.ajax({//绑定
                    url: "picturecid?type=2&&fid=" + fid,
                    type: "GET",
                    dataType: "json",
                    success: function (msg2) {

                    }
                });
            }
        })


        table.render({
            id: "commodityTable",
            elem: "#commodityTable",
            method: "get",
            url: "listCommodity",
            //  toolbar: '#bar',
            width: 1000,
            // totalRow: true,
            cols: [
                [
                    //  {type: "checkbox", fixed: "left", width: 50},
                    {type: "numbers", title: "序号", width: 80},
                    {field: "tid", title: "ID", width: 50, hide: true},
                    {field: "sid", title: "ID", width: 50, hide: true},
                    {field: "cid", title: "ID", width: 50, hide: true},
                    {
                        field: "sname", title: "品牌", align: "center", templet: function (item) {
                            return item.jpmpSecond.jpmpStair.sname;
                        }
                    },
                    {
                        field: "sname", title: "种类", align: "center", templet: function (item) {
                            return item.jpmpSecond.tname;
                        }
                    },
                    {field: "title", title: "商品名称", align: "center"},
                    {field: "intro", title: "商品简介", align: "center"},
                    {field: "createTime", title: "更新时间", align: "center"},
                    {field: 'ICON', title: "操作", align: "center", toolbar: '#userBar', width: 200},
                ]
            ],
            page: {
                limit: 20,
                limits: [20, 30, 40, 50, 100],
                prev: "上一页",
                next: "下一页"
            },
            request: {
                pageName: "pageNumber",
                limitName: "pageSize"
            },
            response: {
                statusCode: 200
            },
            parseData: function (res) {
                return {
                    "code": 200,
                    "count": res.total,
                    "data": res.list
                }
            }, done: function (res) {
                table_data = res.data;
            },
            height: "full-40"
        });


        $.ajax({
            url: 'Stair',
            dataType: 'json',
            type: 'get',
            success: function (data) {
                $.each(data, function (index, item) {
                    $('#role').append(new Option(item.sname, item.sid));// 下拉菜单里添加元素
                });
                layui.form.render("select");//重新渲染 固定写法

            }
        });

        // 搜索提示
        form.on("submit(search)", function (data) {
            var index = layer.msg('查询中，请稍候...', {icon: 16, time: false, shade: 0});
            setTimeout(function () {
                table.reload('commodityTable', { //表格的id
                    url: "listCommodity",
                    where: {
                        'sid': data.field.sid,
                        'tid': data.field.tid,
                        'title': data.field.title
                    }
                });
                layer.close(index);
            }, 400);
        });


        //监听工具条
        table.on('tool(commodityTable)', function (obj) {
            var data = obj.data;
            if (obj.event === 'del') {
                layer.confirm('确认删除商品吗？', function (index) {
                    obj.del();
                    layer.close(index);
                    //向服务器发送指令
                    $.ajax({
                        url: "deleteCommodity",
                        data: {
                            "cid": data.cid
                        },
                        type: "GET",
                        dataType: "json",
                        success: function (msg) {
                            layer.msg('删除成功', {icon: 1, time: 1500});
                        },
                        error: function (error) {
                            alert("异常");
                        }
                    });
                });
            } else if (obj.event === 'edit') {

                $.ajax({
                    url: 'Stair',
                    dataType: 'json',
                    type: 'get',
                    success: function (datc) {
                        var sid = "";
                        $.each(datc, function (index, item) {
                            if (item.sid == data.sid) {
                                sid = data.sid;
                                $('#sid').append(new Option(item.sname, item.sid, true, true));// 下拉菜单里添加元素
                            } else {
                                $('#sid').append(new Option(item.sname, item.sid));// 下拉菜单里添加元素
                            }

                        });
                        //二级
                        $.ajax({
                            url: 'listSecond',
                            data: {sid: sid},
                            type: 'get',
                            success: function (datae) {
                                $(".secondsel").empty();//清空
                                $.each(datae.list, function (inde, ite) {
                                    if (ite.tid == data.tid) {
                                        $('.secondsel').append(new Option(ite.tname, ite.tid, true, true));
                                    } else {
                                        $('.secondsel').append(new Option(ite.tname, ite.tid));// 下拉菜单里添加元素
                                    }
                                });
                                layui.form.render("select");//重新渲染 固定写法

                            }
                        });
                        layui.form.render("select");//重新渲染 固定写法
                    }
                });
                $("#intro").val(data.intro);
                $("#title").val(data.title);
                $("#cid").val(data.cid);
                fid=data.cid;
                $.ajax({
                    url: 'listPicture?type=2&&fid=' + data.cid,
                    type: 'get',
                    success: function (dataz) {
                        // console.log(dataz)
                        $.each(dataz, function (index, item) {
                            $('#ImgPreview').append('<div class="image-container" id="container' + index + '"><div class="delete-css"><button id="upload_img_' + index + '"  value="' + item.pid + '" class="layui-btn layui-btn-danger layui-btn-xs">删除</button></div>\n' +
                                '<img id="showImg' + index + '" style="width: 150px; margin:10px;cursor:pointer;" src="' + item.pname + '" alt="' + item.pname + '" ></div>')
                            $("#upload_img_" + index).bind('click', function () {
                                var pid = $("#upload_img_" + index).val();
                                $.ajax({
                                    url: 'deletePictrue',
                                    data: {pid: pid},
                                    type: 'get',
                                    success: function (dataa) {
                                        $("#container" + index).remove();
                                    }
                                });

                            });
                        });

                    }
                });


                layer.open({
                    type: 1,
                    title: "修改品牌",
                    area: ["1000px", "650px"],
                    move: false,
                    content: $("#password"),
                    end: function () {  //刷新页面
                        location.reload();
                    }
                });
            }
        });

        form.on('submit(updatepwd)', function (data) {
            $.ajax({
                url: "saveCommodity",
                data: data.field,
                type: "POST",
                dataType: "json",
                success: function (msg) {
                    // console.log(msg.datas)
                    //layer.closeAll();
                   /* if (msg != 0) {
                        $.ajax({//绑定
                            url: "picturecid?type=2&&fid=" + msg,
                            type: "GET",
                            dataType: "json",
                            success: function (msg2) {
                                layer.msg("操作成功", {icon: 1, time: 2000}, function () {
                                    setTimeout(function () {
                                        layer.closeAll();
                                    }, 4000);
                                    //  console.log(msg.resp_code)
                                    // parent.layui.layer.closeAll();
                                    //parent.window.location.href = "skip?table=brand";
                                });
                            }
                        });
                    } else {
                        layer.msg("图片未绑定", {icon: 1, time: 3000}, function () {
                            layer.closeAll();
                        });
                    }*/
                    layer.msg("操作成功", {icon: 1, time: 2000}, function () {
                        layer.closeAll();
                    });


                },
                error: function (error) {
                    alert("异常");
                }
            });

            return false;
        });

        $("#addkind").click(function () {
            $.ajax({
                url: 'Stair',
                dataType: 'json',
                type: 'get',
                success: function (datc) {
                    $.each(datc, function (index, item) {
                        $('#sid').append(new Option(item.sname, item.sid));// 下拉菜单里添加元素
                    });
                    layui.form.render("select");//重新渲染 固定写法
                }
            })
            layer.open({
                type: 1,
                title: "新增商品",
                area: ["1000px", "600px"],
                move: false,
                content: $("#password"),
                end: function () {  //刷新页面
                    location.reload();
                }
            });
        });

        // 下拉框改变触发
        form.on('select(search_typestair)', function (data) {
            // console.log(data)
            if (data.value != null && data.value != "") {
                $.ajax({
                    url: 'listSecond',
                    data: {sid: data.value},
                    type: 'get',
                    success: function (datae) {
                        $(".secondsel").empty();//清空
                        $('.secondsel').append(new Option("请选择种类", 0));
                        $.each(datae.list, function (index, item) {
                            $('.secondsel').append(new Option(item.tname, item.tid));// 下拉菜单里添加元素
                        });
                        layui.form.render("select");//重新渲染 固定写法

                    }
                });
            }


        });


    });
</script>
<script type="text/html" id="userBar">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i
            class="layui-icon layui-icon-delete"></i>删除</a>
</script>

</body>
</html>